<div class ="container-fluid pdt-60" id="showdestroy">
	<div class="z-index bdr-10 row row-eq-height">
		<%#= render 'layouts/sidebar' %>
		<div class="col-md-2 rgba-w-7 z-index bdr-10 table_responsive">
			<div class="sidebar">
			<div class="navbar-header">
				<% if admin_signed_in? %>
					<span class="navbar-brand">
						<%= link_to "マイページ", admins_admin_path(current_admin), :style=>"color:#000000;" %>
					</span>
					<span class="navbar-brand">
						<%= link_to "ユーザ一覧", admins_admins_path, :style=>"color:#000000;" %>
					</span>
					<span class="navbar-brand">
						<%= link_to "カウンセラー覧", admins_admin_counselor_path, :style=>"color:#000000;" %>
					</span>
					<span class="navbar-brand">
						<%= link_to "ログアウト", destroy_admin_session_path, method: :delete, :style=>"color:#000000;" %>
					</span>
				<% else %>
					<% if user_signed_in? %>
						<span class="navbar-brand">
							<%= link_to "トップページ", root_path, :style=>"color:#000000;" %>
						</span>
						<span class="navbar-brand">
							<%= link_to "マイページ", users_show_path(current_user), :style=>"color:#000000;" %>
						</span>
						<span class="navbar-brand">
							<%= link_to "ユーザ一覧", users_users_path, :style=>"color:#000000;" %>
						</span>
						<span class="navbar-brand">
							<%= link_to "カウンセラー覧", users_counselor_path, :style=>"color:#000000;" %>
						</span>
						<span class="navbar-brand">
							<% if current_user.watson_req %>
								<%= link_to "性格診断", edit_users_watson_req_path(id: current_user.watson_req.id), :style=>"color:#000000;" %>
							<% else %>
								<%= link_to "性格診断", new_users_watson_req_path, :style=>"color:#000000;" %>
							<% end %>
						</span>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<span class="navbar-brand">
							<%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style=>"color:#000000;" %>
						</span>
						<br>
						<br>
					<% else %>
						<span class="navbar-brand">
							<p>トップページ</p>
						</span>
						<div>
							<span class="navbar-brand">
								<%= link_to "新規会員登録", new_user_registration_path, :style=>"color:#000000;" %>
							</span>
							<span class="navbar-brand">
								<%= link_to "ログイン", new_user_session_path, :style=>"color:#000000;" %>
								<p><small>カウンセラー申請の方もこちらから</small></p>
							</span>
						</div>
					<% end %>
				<% end %>
			</div>
			</div>
		</div>
		<% if user_signed_in? %>
			<div class="col-md-10 pdb-20 rgba-b-5 bdr-10 col-sm-12 col-xs-12" style="height:700px">
					<div class="mt-65">
						<h3 class="fc-w">本当に退会しますか？？</h3>
						<%= link_to users_destroy_path(current_user), method: :delete do %>
							<button type="button" class="btn btn-default">退会する</button>
						<% end %>
					</div>
					<div  class="mt-65">
						<button id="backToBank", type="button", class="btn btn-primary">退会しない</button>
					</div>
			</div>
		<% end %>
	</div>
</div>