<div class="rgba-w-7 z-index bdr-10 row row-eq-height">
		<%= render 'layouts/sidebar' %>
		<div class="col-md-6 pdb-20">
			<div class="row">
				<div class="col-md-3">
					<div class="fs-18 bdr-10 bgc-green pd-5 ma-0 texralign-c mt-16">
							<li>マイページ</li>
					</div>
				</div>
				<div class="col-md-9 mt-16">
					<%= link_to users_editing_path do %>
							<button type="button" class="btn btn-primary">登録情報を更新する</button>
					<% end %>
				</div>
			</div>
			<% if @profile_image.errors.any? %>
			  <div id="error_explanation" class="alert alert-danger">
			    <ul>
			      <% @profile_image.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			    </ul>
			  </div>
			<% end %>
			<div class="row">
				<div class="col-sm-4 mt-16">
					<div class="pdl-60 show_profile_image" id="profile_image_box">
						<%= attachment_image_tag @user.profile_image, :profile_image, class: "profile-thumb margin_icon bd-1sg bs ml-7 pa bdr-10 object_cover", id: "profile_image", fallback: "/images/no_image.jpg", size: "115x115" %>
					</div>
					<div class="mt-16">
						<% if @user.profile_image %>
							<div class="form-inline" id="imageform">
								<%#= form_for @profile_image, url: users_profile_image_path do |f| %>
									<%#= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
									<%#= f.hidden_field :user_id, :value => @user.id %>
									<%#= f.submit "プロフィール画像を更新する"%>
								<%# end %>
								<%= render '/users/users/update_image', user: @user, profile_image: @profile_image %>
							</div>
						<% else %>
							<div class="form-inline" id="imageform">
								<%#= form_for @profile_image, url: users_profile_images_path do |f| %>
									<%#= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
									<%#= f.hidden_field :user_id, :value => @user.id %>
									<%#= f.submit "プロフィール画像を登録する", class:"irb" %>
								<%# end %>
								<%= render '/users/users/create_image', user: @user, profile_image: @profile_image %>
							</div>
						<% end %>
					</div>
				</div>
				<div class="col-sm-8 mt-16">
					<div>
						<p class="irb wid-40"><strong>ユーザー名</strong></p>
						<p class="irb"><%= @user.name %></p>
					</div>
					<div>
						<p class="irb wid-40"><strong>性別</strong></p>
						<p class="irb wid-40"><%= @user.sex_i18n %></p>
					</div>
					<div>
						<p class="irb wid-40"><strong>居住地域</strong></p>
						<p class="irb wid-40"><%= @user.location_i18n %></p>
					</div>
					<% unless @user.approved == 2 %>
						<div>
							<p class="irb wid-40"><strong>学年</strong></p>
							<p class="irb wid-40"><%= @user.degree_i18n %></p>
						</div>
					<% end %>
				</div>
			</div>
			<div class="mt-25">
				<div class="fs-18">
					<li><strong>自己紹介文</strong></li>
				</div>
				<div class="rgba-w-7 bdr-10 pd-5">
					<% if (@user.introduction != nil) && (@user.introduction != "") %>
						<%= @user.introduction %>
					<% else %>
						<p class="fs-16">まだ登録されていません</p>
					<% end %>
				</div>
			</div>
			<div class="mt-25">
				<div class="fs-18">
					<li><strong>性格診断</strong></li>
				</div>
				<% if @user.watson_req %>
					<%= link_to edit_users_watson_req_path(id: @user.watson_req.id) do %>
						<button type="button" class="btn btn-primary">性格診断を更新する</button>
					<% end %>
					<button id="result_big5" class="btn btn-info btn-xs">５大個性</button>
					<button id="result_need" class="btn btn-info btn-xs">12欲求</button>
					<button id="result_value" class="btn btn-info btn-xs">５大価値観</button>
					<div class="rgba-w-7 z-index bdr-10">
						<canvas id="myChart" style=width:500; height:500;></canvas>
						<script>draw_graph();</script>
					</div>
				<% else %>
					<%= link_to new_users_watson_req_path do %>
						<button type="button" class="btn btn-primary">性格診断してみる</button>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-md-4 pdb-20 mt-25">
			<div>
				<% if current_user.approved != 2 %>
					<%= render 'child_friend', friends1: @friends1, friends2: @friends2 %>
				<% else %>
					<%= render 'counseller_friend', friends1: @friends1, friends2: @friends2 %>
				<% end %>
			</div>
			<div class="mt-16">
				<li><strong>申請待ちユーザー</strong></li>
				<div class="bdr-b">
					<table class="table table-hover" style="width: 100%;" id="approve_status_table">
						<thead style="width: 100%;">
							<tr>
								<th style="width: 20%;">ユーザー名</th>
								<th style="width: 20%;"></th>
								<th style="width: 20%;"></th>
							</tr>
						</thead>
							<% @users.each do |user| %>
								<% if user.requested?(current_user) && user.active_friendships.find_by(to_user_id: current_user.id).friendstatus == 0 %>
									<input type="hidden" name="tval" value="<%= @users.index(user) %>">
										<tr id="request_user<%= @users.index(user) %>">
											<td style="width: 15%;">
												<%= user.name %>
											</td>
											<td style="width: 15%;">
												<%= render '/users/friendships/approve_friend', user: user %>
											</td>
											<td style="width: 15%;">
												<%= render '/users/friendships/reject_friend', user: user %>
											</td>
										</tr>
								<% end %>
							<% end %>
					</table>
				</div>
			</div>
		</div>
</div>
