<div class="rgba-w-7 z-index bdr-10 row row-eq-height">
	<%= render 'layouts/sidebar' %>
	<div class="col-md-1"></div>
	<div class="col-md-8 pdb-20 row">
	<div class="balloon6">
		<div class="faceicon">
			<%= attachment_image_tag @other_user.profile_image, :profile_image, class: "profile-thumb margin_icon bd-1sg bs ml-7 pa", fallback: "/assets/no_image.jpg", size: "200x200", id: "chatprofileimage" %>
		</div>
		<p class="ml-60 mt-10 fs-18"><strong><%= @other_user.name%>さんと<%= @member.name%>さんのチャットルーム</strong></p>
	</div>
	<div class="balloon7">
		<div class="faceicon posi_abu">
			<%= attachment_image_tag @member.profile_image, :profile_image, class: "profile-thumb margin_icon bd-1sg bs ml-7 pa", fallback: "/assets/no_image.jpg", size: "200x200", id: "chatprofileimage" %>
		</div>
	</div>
		<div class="line-bc">
			<% @chatmessages.each do |message| %>
				<% if message.chatmember.user_id == @other_user.id %>
						<!--②左コメント始-->
						  <div class="balloon6">
						    <div class="faceicon">
								<%= attachment_image_tag @other_user.profile_image, :profile_image, class: "profile-thumb margin_icon bd-1sg bs ml-7 pa", fallback: "/assets/no_image.jpg", size: "200x200" %>
						    </div>
						    <div class="chatting">
						      <div class="says">
						        <p><%= message.message %></p>
						      </div>
						    </div>
						  </div>
				  		<!--②/左コメント終-->
				<% elsif message.chatmember.user_id == @member.id %>
						<!--③右コメント始-->
						  <div class="balloon7">
						  	<div class="faceicon">
								<%= attachment_image_tag @member.profile_image, :profile_image, class: "profile-thumb margin_icon bd-1sg bs ml-7 pa", fallback: "/assets/no_image.jpg", size: "200x200" %>
						    </div>
						  </div>
						  <div class="hercomment">
						    <p>
						    <%= message.message %>
						    </p>
						  </div>
						<!--/③右コメント終-->
				<% end %>
			<% end %>
			<div id="chatmessages">
			</div>
		</div>

	</div>
	<div class="col-md-1"></div>
</div>