	<div class="rgba-w-7 z-index bdr-10 row row-eq-height" id="resigned">
		<%#= render 'layouts/sidebar' %>
		<div class="col-md-2 rgba-w-7 z-index bdr-10" style="height:700px">
			<div class="sidebar">
				<% if admin_signed_in? %>
					<div>
						<%= link_to "マイページ", admins_admin_path(current_admin) %>
					</div>
					<div>
						<%= link_to "ユーザ一覧", admins_admins_path %>
					</div>
					<div>
						<%= link_to "カウンセラー覧", admins_admin_counselor_path %>
					</div>
					<div>
						<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
					</div>
				<% else %>
					<% if user_signed_in? %>
						<div>
							<%= link_to "トップページ", root_path %>
						</div>
						<div>
							<%= link_to "マイページ", users_show_path(current_user) %>
						</div>
						<div>
							<%= link_to "ユーザ一覧", users_users_path %>
						</div>
						<div>
							<%= link_to "カウンセラー覧", users_counselor_path %>
						</div>
						<div>
							<% if current_user.watson_req %>
								<%= link_to "性格診断", edit_users_watson_req_path(id: current_user.watson_req.id) %>
							<% else %>
								<%= link_to "性格診断", new_users_watson_req_path %>
							<% end %>
						</div>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<div>
							<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
						</div>
						<br>
						<br>
					<% else %>
						<div>
							<p>トップページ</p>
						</div>
						<div>
							<div>
								<%= link_to "新規会員登録", new_user_registration_path %>
							</div>
							<div>
								<%= link_to "ログイン", new_user_session_path %>
								<p><small>カウンセラー申請の方もこちらから</small></p>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<% if admin_signed_in? %>
			<div class="col-md-10 pdb-20 rgba-b-5" style="height:700px">
					<div class="mt-65">
						<h3 class="fc-w">本当に退会させますか？？</h3>
						<%= link_to admins_destroy_path(user_id: @user.id), method: :delete do %>
							<button type="button" class="btn btn-primary">退会させる</button>
						<% end %>
						<div class="mt-16">
								<button id="stopResign", type="button", class="btn btn-default">退会させない</button>
						</div>
					</div>
			</div>
		<% end %>
	</div>