<div class="rgba-w-7 z-index bdr-10 row row-eq-height">
	<%= render 'layouts/sidebar' %>
	<div class="col-md-10 pdb-20">
		<div class="opac0 mt-25">
			<div class=" fs-16 bdr-10 bgc-green pd-5 wid-20 ma-0 texralign-c">
				<li>カウンセラー一覧</li>
			</div>
			<div class="mt-16 wd-100">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-xs-1"></th>
							<th class="col-xs-2">ユーザー名</th>
							<th class="col-xs-1">性別</th>
							<th class="col-xs-2">居住地域</th>
							<th class="col-xs-3">最終ログイン日時</th>
							<th class="col-xs-2"></th>
							<th class="col-xs-1"></th>
						</tr>
					</thead>
						<tbody class="overflow">
							<% @counselors.each do |user| %>
								<tr>
									<td>
										<%= attachment_image_tag user.profile_image, :profile_image, class: "profile-thumb margin_icon bd-1sg bs ml-7 pa bdr-50", fallback: "/images/no_image.jpg", size: "40x40" %>
									</td>
									<td><%= user.name %></td>
									<td><%= user.sex_i18n %></td>
									<td><%= user.location_i18n %></td>
									<td><%= user.current_sign_in_at.strftime("%Y年%m月%d日 %H時%M分") unless user.current_sign_in_at.nil? %></td>
									<td>
										<%= link_to admins_admin_user_detail_path(user) do %>
											<button class="btn btn-default">詳細ページへ</button>
										<% end %>
									</td>
									<td>
										<% if user.deleted_at != nil %>
											<div class="bgc-blue texralign-c fs-12 pd-5 bdr-10">退会中</div>
										<% end %>
									</td>
								</tr>
							<% end %>
						</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
