<div class="rgba-w-7 z-index bdr-10 row row-eq-height" id="hidedetail">
	<%= render 'layouts/sidebar' %>
		<div class="col-md-6 pdb-20 bdr-r">
			<div class=" clearfix">
				<div class="fs-18 bdr-10 bgc-green pd-5 wid-60 ma-0 texralign-c mt-16 fl">
					<li><%= "#{@user.name}さん紹介ページ" %></li>
				</div>
				<% if @user.deleted_at == nil %>
					<div class="fl mt-16 ml-20">
						<button class="btn btn-primary" id="nolongerBank" value= "<%= @user.id %>">退会させる</button>
					</div>
				<% else %>
					<div class="fl mt-16 ml-20">
						<%= link_to admins_restore_path(user_id: @user.id), method: :patch do %>
							<button class="btn btn-primary">再入会させる</button>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="row">
					<div class="col-sm-4 mt-16">
						<div class="pdl-60 show_profile_image">
							<%= attachment_image_tag @user.profile_image, :profile_image, class: "profile-thumb margin_icon bd-1sg bs ml-7 pa bdr-10", fallback: "/images/no_image.jpg", size: "115x115" %>
						</div>
					</div>
					<div class="col-sm-8 mt-16">
						<div>
							<p class="irb wid-20"><strong>ユーザー名</strong></p>
							<p class="irb"><%= @user.name %></p>
						</div>
						<div>
							<p class="irb wid-20"><strong>性別</strong></p>
							<p class="irb"><%= @user.sex_i18n %></p>
						</div>
						<div>
							<p class="irb wid-20"><strong>居住地域</strong></p>
							<p class="irb"><%= @user.location_i18n %></p>
						</div>
							<% if @user.approved == 0 %>
								<div>
									<p class="irb wid-20"><strong>学年</strong></p>
									<p class="irb"><%= @user.degree_i18n %></p>
								</div>
							<% end %>
					</div>
			</div>
			<div class="fs-18 mt-16">
				<li><strong>自己紹介文</strong></li>
			</div>
			<div class="rgba-w-7 bdr-10 pd-5">
						<% if (@user.introduction != nil) && (@user.introduction != "") %>
							<%= @user.introduction %>
						<% else %>
							<p class="fs-16">まだ登録されていません</p>
						<% end %>
			</div>
			<%# if @user.approved != 2 %>
					<div class="mt-16">
						<div class="fs-18 mt-16">
							<li><strong>性格診断</strong></li>
						</div>
						<%# binding.pry %>
							<% if WatsonReq.with_deleted.find_by(user_id: @user.id) != nil %>
								<button id="result_big5" class="btn btn-info btn-xs">５大個性</button>
								<button id="result_need" class="btn btn-info btn-xs">12欲求</button>
								<button id="result_value" class="btn btn-info btn-xs">５大価値観</button>
								<div class="rgba-w-7 z-index bdr-10">
									<canvas id="myChart" style=width:500; height:500;></canvas>
									<script>draw_graph();</script>
								</div>
							<% else %>
								<div class="rgba-w-7 bdr-10 pd-5">
									<p class="fs-16">まだ登録されていません</p>
								</div>
							<% end %>
					</div>
			<%# end %>
		</div>
		<div class="col-md-4 mt-16">
			  	<div class="fs-18">
					<li><strong><%= @user.name %>さんのチャットルーム一覧</strong></li>
				</div>
				<table class="table table-hover mt-16" style="width: 100%;">
					<thead>
						<tr>
							<th>チャットメンバー名</th>
							<th>チャットルーム</th>
						</tr> 
					</thead>
					<tbody>
						<% if Chatmember.where(user_id: @user.id) %>
							<% @chatrooms.each do |chatroom| %>
								<% if @chatmembers.find_by(chatroom_id: chatroom) != nil %>
									<tr>
										<%# binding.pry %>
										<td><%= User.with_deleted.find_by(id: @chatmembers.find_by(chatroom_id: chatroom).user_id).name %>さん</td>
										<td>
											<%= link_to admins_adminschatroom_path(id: chatroom, user_id: @user.id, other_user_id: @chatmembers.find_by(chatroom_id: chatroom).user_id) do %>
														<button type="button" class="btn btn-primary">チャット画面</button>
											<% end %>
										</td>
									</tr>
								<% end %>
							<% end %>
						<% end %>
					</tbody>
				</table>
		</div>
</div>
<%= render '/admins/admins/destroy' %>

<script>
window.onload = function () {
	console.log("test3");
	$(function() {
	var nolongerBank = document.getElementById('nolongerBank');
	var body = document.getElementById('hidedetail');
	var destroybody = document.getElementById('resigned');
	var stopResign = document.getElementById('stopResign');
		nolongerBank.addEventListener('click', event => {
			console.log("test");
			body.style.display="none";
		  	destroybody.style.display="block";
		  	console.log("aaa");
		});
		stopResign.addEventListener('click', event => {
			console.log("test");
			body.style.display="block";
		  	destroybody.style.display="none";
		});
	});
}
</script>
