<div class="col-md-2 rgba-w-7 z-index bdr-10 hidden-sm hidden-xs col-xs-12 col-sm-12">
	<nav class="sidebar texralign-c">
		<div>
		<% if admin_signed_in? %>
			<span class="nav wd-100 mt-25">
				<%= link_to "マイページ", admins_admin_path(current_admin), :style=>"color:#000000;" %>
			</span>
			<span class="nav wd-100 mt-25">
				<%= link_to "ユーザ一覧", admins_admins_path, :style=>"color:#000000;" %>
			</span>
			<span class="nav wd-100 mt-25">
				<%= link_to "カウンセラー覧", admins_admin_counselor_path, :style=>"color:#000000;" %>
			</span>
			<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
			<span class="nav wd-100 mt-25">
				<%= link_to "ログアウト", destroy_admin_session_path, method: :delete, :style=>"color:#000000;" %>
			</span>
		<% else %>
				<% if user_signed_in? %>
						<div data-name= <%= current_user.id %> id="login"></div>
						<div class="nav wd-100 mt-25">
							<%= link_to "トップページ", root_path, :style=>"color:#000000;" %>
						</div>
						<div class="nav wd-100 mt-25">
							<%= link_to "マイページ", users_show_path(current_user), :style=>"color:#000000;" %>
						</div>
						<div class="nav wd-100 mt-25">
							<%= link_to "ユーザ一覧", users_users_path, :style=>"color:#000000;" %>
						</div>
						<div class="nav wd-100 mt-25">
							<%= link_to "カウンセラー覧", users_counselor_path, :style=>"color:#000000;" %>
						</div>
						<div class="nav wd-100 mt-25">
							<% if current_user.watson_req %>
								<%= link_to "性格診断", edit_users_watson_req_path(id: current_user.watson_req.id), :style=>"color:#000000;" %>
							<% else %>
								<%= link_to "性格診断", new_users_watson_req_path, :style=>"color:#000000;" %>
							<% end %>
						</div>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<div class="nav wd-100 mt-25">
							<button data-behavior="appear_away" class="logoutbutton">ログアウト</button>
						</div>
						<div class="nav wd-100 mt-25">
							<button id="leaveBank", type="button">退会する</button>
						</div>
						<div class="nav wd-100 mt-25">
							<%= link_to destroy_user_session_path, method: :delete, :style=>"color:#000000;" do %>
								<input type="hidden" name="deviselogout">
							<% end %>
						</div>
						<br>
						<br>
						<br>
						<br>
				<% else %>
						<div class="nav wd-100 mt-25">
							<%= link_to "トップページ", root_path, :style=>"color:#000000;" %>
						</div>
						<div>
							<div class="nav wd-100 mt-25">
								<%= link_to "新規会員登録", new_user_registration_path, :style=>"color:#000000;" %>
								<div>
									<p class="fs-10 pdb-20">カウンセラー申請の方もこちらから</p>
								</div>
							</div>
							<div class="nav wd-100 mt-25">
								<%= link_to "ログイン", new_user_session_path, :style=>"color:#000000;" %>
							</div>
						</div>
				<% end %>
		<% end %>
		</div>
	</nav>
</div>
<div id="hamburger">
	<div>
		<% if admin_signed_in? %>
			<span class="nav wd-100 mt-80 texralign-c">
				<%= link_to "マイページ", admins_admin_path(current_admin), :style=>"color:#000000;" %>
			</span>
			<span class="nav wd-100 mt-25 texralign-c">
				<%= link_to "ユーザ一覧", admins_admins_path, :style=>"color:#000000;" %>
			</span>
			<span class="nav wd-100 mt-25 texralign-c">
				<%= link_to "カウンセラー覧", admins_admin_counselor_path, :style=>"color:#000000;" %>
			</span>
			<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
			<span class="nav wd-100 mt-25 texralign-c">
				<%= link_to "ログアウト", destroy_admin_session_path, method: :delete, :style=>"color:#000000;" %>
			</span>
		<% else %>
				<% if user_signed_in? %>
						<div data-name= <%= current_user.id %> id="login"></div>
						<div class="nav wd-100 mt-80 texralign-c">
							<%= link_to "トップページ", root_path, :style=>"color:#000000;" %>
						</div>
						<div class="nav wd-100 mt-25 texralign-c">
							<%= link_to "マイページ", users_show_path(current_user), :style=>"color:#000000;" %>
						</div>
						<div class="nav wd-100 mt-25 texralign-c">
							<%= link_to "ユーザ一覧", users_users_path, :style=>"color:#000000;" %>
						</div>
						<div class="nav wd-100 mt-25 texralign-c">
							<%= link_to "カウンセラー覧", users_counselor_path, :style=>"color:#000000;" %>
						</div>
						<div class="nav wd-100 mt-25 texralign-c">
							<% if current_user.watson_req %>
								<%= link_to "性格診断", edit_users_watson_req_path(id: current_user.watson_req.id), :style=>"color:#000000;" %>
							<% else %>
								<%= link_to "性格診断", new_users_watson_req_path, :style=>"color:#000000;" %>
							<% end %>
						</div>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<div class="nav wd-100 mt-25 texralign-c">
							<button data-behavior="appear_away" class="logoutbutton">ログアウト</button>
						</div>
						<div class="nav wd-100 mt-25 texralign-c">
							<button id="leaveBank2", type="button">退会する</button>
						</div>
						<div class="nav wd-100 mt-25 texralign-c">
							<%= link_to destroy_user_session_path, method: :delete, :style=>"color:#000000;" do %>
								<input type="hidden" name="deviselogout">
							<% end %>
						</div>
						<br>
						<br>
						<br>
						<br>
				<% else %>
						<div>
							<div class="nav wd-100 mt-80 texralign-c">
								<%= link_to "トップページ", root_path, :style=>"color:#000000;" %>
							</div>
							<div class="nav wd-100 mt-25 texralign-c">
								<%= link_to "新規会員登録", new_user_registration_path, :style=>"color:#000000;" %>
								<div>
									<p class="fs-10 pdb-20">カウンセラー申請の方もこちらから</p>
								</div>
							</div>
							<div class="nav wd-100 mt-25 texralign-c">
								<%= link_to "ログイン", new_user_session_path, :style=>"color:#000000;" %>
							</div>
						</div>
				<% end %>
		<% end %>
		</div>
</div>