<!DOCTYPE html>
<html>
  <head>
    <title>CoCoBank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <%= Gon::Base.render_data %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample2">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button> -->
                        <!-- <a class="navbar-brand" href="#"> -->
                          <%= link_to root_path do %>
                            <img alt="Brand" src="/images/logonew.png" style="height: 60px;">
                          <% end %>
                        <!-- </a> -->
                    </div>
                    <div class="collapse navbar-collapse" id="navbarEexample2">
                        <ul class="mar-15 red">
                          <li id="flashnotice"><%= flash[:notice] %></li>
                          <!-- <li><a href="#">メニューＡ</a></li> -->
                          <!-- <li class="active"><a href="#">メニューＢ</a></li> -->
                          <!-- <li><a href="#">メニューＣ</a></li> -->
                        </ul>
                    </div>
                    <div id="hm-icon">
                      <a class="menu-trigger" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                      </a>
                    </div>
                </div>
            </nav>
        </header>
          <div class="bgimage">
            <%= render '/users/users/destroy' %>
            <div class ="container-fluid pdt-60" id="hide">
                  <%= yield %>
            </div>
          </div>
        <div>
        <footer class="bgc-fff texralign-c">
            <div><small>&copy;copyright CoCoBank.com</small></div>
        </footer>
        </div>
  </body>
</html>
